/* commit */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Nerko One', cursive;
}


.contenitore > h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 50px;
    color: white;
}

.contenitore {
    width: 60%;
    height: 600px;
    margin: 0 auto;
    background-color: #ADD8E6;
}

.game {
    width: 450px;
    margin: 0 auto;
}

.fila {
    width: 100%;
    height: 170px;
    position: relative;
}
.carta {
    width: 100px;
    height: calc(100% - 20px);
    background-color: tomato;
}

.carta.uno {
    position: absolute;
    top: 0;
    left: 10px;
}

.carta.due {
    position: absolute;
    top: 0;
    left: 120px;
}

.carta.tre {
    position: absolute;
    top: 0;
    left: 230px;
}

.carta.quattro {
    position: absolute;
    top: 0;
    left: 340px;

}
