/* commit */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Nerko One', cursive;
    text-align: center;
}

/* header */

header > h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 50px;
    color: white;
}

/* main */
.contenitore {
    width: 60%;
    height: 600px;
    margin: 0 auto;
    background-color: #ADD8E6;
}

.game {
    width: 450px;
    margin: 0 auto;
}

.fila {
    width: 100%;
    height: 170px;
    position: relative;
}
.carta {
    z-index: 2;
    width: 100px;
    height: calc(100% - 20px);
    border-radius: 15px;
    position: absolute;
    top: 0;
    background-image: url(../img/pattern.png);
    background-size: contain;
}

.carta.uno {
    left: 10px;
}

.carta.due {
    left: 120px;
}

.carta.tre {
    left: 230px;
}

.carta.quattro {
    left: 340px;
}

.carta h3{
    opacity: 0%;
    position: absolute;
    bottom: 2px;
    left: 0px;
    width: 100%;
    color: orange;
}
/* animazione */
.fila_uno .uno:hover {
    background-size: 115%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/noun_Bicycle_3134821.png);
    background-color: white;
}

.fila_uno .due:hover {
    background-size: 115%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/noun_Cruise_Ship_3134824.png);
    background-color: white;
}

.fila_uno .tre:hover {
    background-size: 115%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/noun_Submarine_3134738.png);
    background-color: white;
}

.fila_uno .quattro:hover {
    background-size: 115%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/noun_Tractor_3134797.png);
    background-color: white;
}

.fila_due .uno:hover {
    background-size: 115%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/noun_Tram_3134750.png);
    background-color: white;
}

.fila_due .due:hover {
    background-size: 115%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/noun_air_balloon_3134741.png);
    background-color: white;
}

.fila_due .tre:hover {
    background-size: 115%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/noun_Bicycle_3134821.png);
    background-color: white;
}

.fila_due .quattro:hover {
    background-size: 115%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/noun_Cruise_Ship_3134824.png);
    background-color: white;
}

.fila_tre .uno:hover {
    background-size: 115%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/noun_Tractor_3134797.png);
    background-color: white;
}
.fila_tre .due:hover {
    background-size: 115%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/noun_air_balloon_3134741.png);
    background-color: white;
}

.fila_tre .tre:hover {
    background-size: 115%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/noun_Tram_3134750.png);
    background-color: white;
}

.fila_tre .quattro:hover {
    background-size: 115%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/noun_Submarine_3134738.png);
    background-color: white;
}

.carta:hover h3 {
    opacity: 100%;
}

/* footer */

footer > h3 {
    text-align: center;
}